body {
  height: 100vh;
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
}

main {
  padding: 1rem;
}

.flex-row {
  display: flex;
  gap: 1rem;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

#buttons {
  flex-grow: 1;
}

button {
  flex-grow: 1;
  border: none;
  background: greenyellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
}
